[
  {kernel, [
    {inet_dist_listen_min, 9100},
    {inet_dist_listen_max, 9155},
    {error_logger, {file, "log/error.log"}}
  ]},
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error}
  ]},
  {peer_discovery, [
    {port_range, {9200, 9255}},
    {broadcast_interval, 5000},
    {max_peers, 50}
  ]},
  {fault_tolerance, [
    {retry_limit, 5},
    {ack_timeout, 1000},
    {max_retries, 3}
  ]},
  {http, [
    {port1, 8080},
    {port2, 8081}
  ]}
].
